#checkbox-toggle {
    display: none;
    &:checked + .header-container {
        max-height: 200%;
        background: $dark-blue;
    }
    &:checked + .header-container .hamburger-container .menu-bar {
        &:nth-of-type(1) {
            @include transform(translateY(17px) rotate(-45deg));
        }
        &:nth-of-type(2) {
            opacity: 0;
        }
        &:nth-of-type(3) {
            @include transform(translateY(-17px) rotate(45deg));
        }
    }
    &:checked + .header-container .hamburger-container:hover .menu-bar {
        &:nth-of-type(1) {
            @include transform(translateX(-2px) translateY(15px) rotate(-41deg));
        }
        &:nth-of-type(3) {
            @include transform(translateX(-2px) translateY(-15px) rotate(41deg));
        }
    }
}

#label-hamburger {
    position: absolute;
    top: 0.85rem;
    right: 0;
    padding: 20px;
    display: none;
    background: transparent;
    border: none;
    outline: none;
    @include transition(all 0.4s ease-in-out);
    .menu-bar {
        width: 65px;
        height: 5px;
        margin: 12px 0;
        display: block;
        background: $white;
        @include border-radius(5px);
        @include transition(all 0.2s ease-in-out);
        &:nth-of-type(1) {
            margin-top: 0;
         }
        &:nth-of-type(3) {
            margin-bottom: 0;
        }
    }
    &:hover {
        .menu-bar:nth-of-type(1) {
            @include transform(translateY(2px) rotate(-4deg));
         }
        .menu-bar:nth-of-type(3) {
            @include transform(translateY(-2px) rotate(4deg));
        }
    }
}

.textbox-wrapper {
    position: relative;
    width: 100%;
    padding: 2px;
    background: $violet;
    background: linear-gradient(to right, $violet, $pink);
    &.focus::after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        content: "";
        display: block;
        background: $pink;
        @include animation(focus-slide-bar, 0.2s, linear);
        @include animation-fill-mode(forwards);
        @include keyframes(focus-slide-bar) {
            0% {
                width: 0;
            }
            100% {
                width: 100%;
            }
        }
    }
    &.focusout::after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        content: "";
        display: block;
        background: $pink;
        @include animation(focusout-slide-bar, 0.2s, linear);
        @include animation-fill-mode(forwards);
        @include keyframes(focusout-slide-bar) {
            0% {
                width: 100%;
            }
            100% {
                width: 0;
            }
        }
    }
}

.textbox {
    position: relative;
    padding: 30px 15px;
    background: $dark-blue !important;
    border: none;
    box-shadow: none;
    @include border-radius(0);
    font-size: 1.2rem;
    color: $white;
    @include transition(all 0.1s ease-in-out);
    &::placeholder {
        color: $white;
    }
    &:focus {
        box-shadow: none;
        color: $white;
        &::placeholder {
            color: $white;
        }
    }
}

.textarea {
    @extend .textbox;
    padding: 15px;
}

.custom-button {
    margin: 0 auto;
    padding: 20px 80px;
    display: table;
    background: transparent;
    border: 2px solid $pink;
    font-family: $raleway;
    font-weight: 700;
    font-size: 1.2rem;
    color: $pink !important;
    @include transition(all 0.2s linear);
    &:hover, &:focus {
        color: $white !important;
    }
}