:root {
    font-size: 14px;
}

html, body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;   
   overflow: hidden;
}

b {
    font-weight: 700;
}

img {
    width: 100%;
    height: auto;
}