@mixin border-radius($radius) {
    border-radius: #{$radius};
}

@mixin transform($value) {
    transform: #{$value};
}

@mixin transform-origin($x, $y, $z:"") {
    transform-origin: $x $y unquote($z);
} 

@mixin transition($value) {
    transition: #{$value};
}

@mixin animation($name, $duration, $effect, $iteration:1) {
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $effect;
    animation-iteration-count: $iteration; 
}

@mixin animation-delay($delay) {
    animation-delay: $delay;
}

@mixin animation-fill-mode($fill-mode) {
    animation-fill-mode: $fill-mode;
}

@mixin animation-play-state($status) {
    animation-play-state: $status;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

@mixin screen($min-width) {
    $max-width: null;
    @if $min-width >= $xx-devices { $max-width: $xx-devices * 2; }
    @else if $min-width >= $xl-devices { $max-width: $xx-devices - 0.1; }
    @else if $min-width >= $lg-devices { $max-width: $xl-devices - 0.1; }
    @else if $min-width >= $md-devices { $max-width: $lg-devices - 0.1; }
    @else if $min-width >= $sm-devices { $max-width: $md-devices - 0.1; }
    @else if $min-width >= $xs-devices { $max-width: $sm-devices - 0.1; }
    @else { $max-width: $xs-devices; }
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
        @content;
    }
}

@mixin screen-height($max-height) {
    @media screen and (max-height: $max-height) {
        @content;
    }
}