@mixin border-radius($radius) {
    border-radius: #{$radius};
}

@mixin transform($value) {
    transform: #{$value};
}

@mixin transform-origin($x, $y, $z:"") {
    transform-origin: $x $y unquote($z);
} 

@mixin transition($value) {
    transition: #{$value};
}

@mixin animation($name, $duration, $effect, $iteration:1) {
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $effect;
    animation-iteration-count: $iteration; 
}

@mixin animation-delay($delay) {
    animation-delay: $delay;
}

@mixin animation-fill-mode($fill-mode) {
    animation-fill-mode: $fill-mode;
}

@mixin animation-direction($direction) {
    animation-direction: $direction;
}

@mixin animation-play-state($status) {
    animation-play-state: $status;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

@mixin screen-width($max-width) {
    @media screen and (max-width: $max-width) {
        @content;
    }
}

@mixin screen-min-width($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

@mixin screen-height($max-height) {
    @media screen and (max-height: $max-height) {
        @content;
    }
}